### Ejercicio 1, Kata 4

In [3]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [4]:
text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth.\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [5]:
key_words = ["average", "temperature", "distance"]
print (key_words)

['average', 'temperature', 'distance']

In [9]:
for sentences in text_parts:
    for key_word in key_words:
        if key_word in sentences:
            print(sentences)
            break

There are several interesting facts about the Moon and how it affects life here on Earth.
On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

### Ejercicio 2, Kata 4

In [17]:
nombre = "Luna"
gravedad = 0.00162 # in kms
planeta = "Tierra"

In [32]:
Title = "La gravedad de la Luna, en la Tierra"

In [22]:
Hechos = f"""{'-'* 80}
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s²"""

In [57]:
template = f"""{Title.title()} 
{Hechos} 
""" 
print(Title)
print(Hechos)

La gravedad de la Luna, en la Tierra
--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s²

In [68]:
nombre = "Titán"
gravedad = 1.37 # in m/s²
planeta = "Saturno"

In [69]:
print(Title)
print(Hechos)

La gravedad de la Luna, en la Tierra
--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s²

In [70]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s²"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad *1000))

Datos de Gravedad sobre: Titán
-------------------------------------------------------------------------------
Nombre del planeta: Saturno
Gravedad en Titán: 1370.0 m/s²